*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.div1{
    width: 500px;
    height: 500px;
    background-color: palegoldenrod;
    display: flex;
}
.div2{
    width: 80%;
    height: 80%;
    margin-top: auto;
    margin-bottom: auto;
}
.div3{
    width: inherit;
    height: 50%;
    display: flex;
}
.div3a{
    width: 33%;
    height: 100%;
    background-color: #00BFFF;
}
.div3b{
    width: 33%;
    height: 100%;
    background-color: lightpink;
}
.div3c{
    width: 33%;
    height: 100%;
    background-color:mediumpurple ;
}