*{
    padding: 0;
    margin: 0;
    text-decoration: none;
    box-sizing: border-box;
    align-items: center;
}
#h3-title{
    float: left;
}
#h4-title{
    float: right;
    margin: 25px;
}
.thumbnail.right-caption > img {
    float: left;
    margin-right: 9px;
}
.thumbnail > img{
    max-width: 100px;
    width: 100px;
    height: 100%;
}
.thumbnail.right-caption {
    float: left;
}

.thumbnail.right-caption > .caption {
    padding: 4px;
}
.form-select{
    width: 60px;
}
td>label{
    display: flex;
}
#middle{
    align-items: center;
}